body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

.container {
    margin: 50px auto;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: #fff;
}

h1 {
    color: #333;
}

input[type="file"] {
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    text-align: left;
}
#yorumlar-bolumu {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

#yorumlar-bolumu h2 {
    color: #2d7d46;
    margin-bottom: 15px;
}

#yorum-alani {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

#yorum-ekle {
    margin-top: 10px;
    background-color: #2d7d46;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
}

#yorum-ekle:hover {
    background-color: #25863f;
}

#yorum-listesi {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

#yorum-listesi li {
    background-color: #eaf5ea;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
